* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
#root {
  width: 70%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.main {
  font-size: 8rem;
}
.home_title {
  margin-top: 50px;
  text-align: left;
  padding-left: 5%;
  padding-bottom: 15px;
  border-bottom: 2px solid lightgray;
  color: gray;
}
.home_footer {
  margin-top: 50px;
  text-align: center;
  padding-left: 5%;
  padding: 15px 0;
  border-top: 2px solid lightgray;
  color: gray;
}

@media screen and (max-width: 970px) {
  #root {
    width: 100%;
  }
}
