.projectcard_container {
  background-color: #ecd8cd;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}
.projectcard_image_container {
  border: 2px solid black;
  position: relative;
  margin: auto;
  padding-top: 100%;
  width: 90%;
  overflow: hidden;
}
.projectcard_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectcard_title {
  color: black;
  font-size: 1.5rem;
  margin: 0;
}

.link {
  text-decoration: none;
  margin: 10px;
}

@media screen and (max-width: 970px) {
  .projectcard_title {
    color: black;
    font-size: 2rem;
    margin: 10px;
  }
}
